<ion-view view-title="Energy Charts 2">
    <ion-content>
        <div id="container2" class="transition">
            <h3 style="margin-left: 75px; margin-top: 10px;">Unit: MW Average</h3>
            <div id="chart9"></div>
            <div id="chart10"></div>
            <div id="chart11"></div>
            <div id="chart12"></div>
            <div id="chart13"></div>
            <button class="button button-block button-positive" ng-click="render()">Update Charts</button>
        </div>
    </ion-content>
</ion-view>