<ion-view view-title="Gas Pollutant">
    <ion-content>
        <div id="container1" class="transition">
            <div id="chart1"></div>
            <div id="chart2"></div>
            <div id="chart3"></div>
            <div id="chart4"></div>
            <div id="chart5"></div>
            <div id="chart6"></div>
            <div id="chart7"></div>
            <button class="button button-block button-positive" ng-click="render()">Display Chart</button>
        </div>
    </ion-content>
</ion-view>